@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #a87e6f;
    --color-secondary: #8c6b5d;
    --color-accent: #936a5f;
    --color-bg: #fff8f0;
    --color-text: #5a4a42;

    --font-poppins: "Poppins", sans-serif;
  }
}

.fade-in {
  animation: fadeIn 1.5s ease-out forwards;
}

.bg-fade-in {
  animation: fadeIn 2s ease-out forwards;
}
.text-perfect-align {
  text-align: justify;
  text-justify: inter-word; /* Pour un espacement optimisé des mots */
}

h1,
h2,
h3 {
  @apply font-bold;
}

a {
  @apply transition duration-300 ease-in-out;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), sans-serif;
}
